{deps, [
	{cowboy, ".*",	{git, "http://github.com/extend/cowboy.git", "master"}},
    {amqp_client, ".*", {git, "http://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-2.8.2"}}},
    {ossp_uuid, ".*", {git, "http://github.com/yrashk/erlang-ossp-uuid.git", "HEAD"}},
	{mimetypes, ".*", {git, "http://github.com/spawngrid/mimetypes.git", "master"}}
]}.
