{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
	{cowboy, ".*",	{git, "git://github.com/extend/cowboy.git", "master"}},
    {amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-2.8.2"}}},
    {ossp_uuid, ".*", {git, "git://github.com/yrashk/erlang-ossp-uuid.git", "HEAD"}},
	{mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", "master"}},
	{erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git", "HEAD"}},
    {termit, ".*", {git, "https://github.com/dvv/termit.git", "HEAD"}}
]}.

{erl_opts, [{parse_transform, lager_transform}]}.
