<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Syncshare test</title>
    <script type="text/javascript" src="easyXDM.debug.js"></script>
  </head>
  <body>
    Welcome on the board <em> <%= current_user['name'] %> </em>
  </body>

  <script type="text/javascript">

    var socket = new easyXDM.Socket({
        remote: "http://localhost:8080/syncshare/twitter",
        onMessage: function(data) {
            console.log(JSON.parse(data));
        }
    });

    socket.postMessage(JSON.stringify({call: 'upload', data: 'dupa buzka'}));

  </script>
</html>
